.travel-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: -40px;
}

.travel-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-group input {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.form-group button {
  color: #fef7e5;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 2.25rem;
  border: 1px solid;
  background-color: black;
  cursor: pointer;
}

.form-group button:hover {
  color: #4183c4;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 2.25rem;
  border: 1px solid;
  background-color: black;
  cursor: pointer;
}


